/BUILDME
/CHANGES
/CONTENTS
/MANIFEST
/PIL.pth
/README
/_imaging.c
/_imagingcms.c
/_imagingft.c
/_imagingmath.c
/_imagingtk.c
/decode.c
/display.c
/doctest.py
/encode.c
/map.c
/outline.c
/path.c
/selftest.py
/setup.py
